/*!
 * SGIA v.1
 * Author : Actward Project
 */

/* :root {
  --primary: #014E94;
  --secondary: #6c757d;
  --success: #548C2F;
  --info: #05c5c5;
  --warning: #FFF000;
  --danger: #CA3C25;
  --light: #FFE;
  --dark: #000F08;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Rubik";
  } */

  *{
    font-family: 'Rubik', sans-serif;
  }
  #SGIA{
    background: radial-gradient(15.33% 28.51% at -1.26% -6.9%, rgb(4 116 254 / 23%) 50.68%, rgb(15 114 229 / 0%) 100%), radial-gradient(30.21% 154.69% at 73.96% 100%, #a9d7ff 0%, rgb(189 224 255) 1.91%, rgba(15, 114, 229, 0) 110.71%), #ddefff!important;
  }

  /* Colors Style */

  .text-primary {
      color: #014E94!important;
  }
  .text-secondary {
      color: #6c757d!important;
  }
  .text-success {
      color: #548C2F!important;
  }
  .text-info {
      color: #05c5c5!important;
  }
  .text-warning {
      color: #FFF000!important;
  }
  .text-danger {
      color: #CA3C25!important;
  }
  .text-light {
      color: #FFE!important;
  }
  .text-dark {
      color: #000F08!important;
  }
  .text-white {
      color: #FFFFFF!important;
  }

  /* Background Style */

  .bg-primary {
      background-color: #014E94!important;
  }
  .bg-secondary {
      background-color: #6c757d!important;
  }
  .bg-success {
      background-color: #548C2F!important;
  }
  .bg-info {
      background-color: #05c5c5!important;
  }
  .bg-warning {
      background-color: #FFF000!important;
  }
  .bg-danger {
      background-color: #CA3C25!important;
  }
  .bg-light {
      background-color: #FFE!important;
  }
  .bg-dark {
      background-color: #000F08!important;
  }
  .bg-white {
      background-color: #FFFFFF!important;
  }
  /* hover */
  .btn.bg-primary:hover {
      background-color: #023b6f!important;
  }
  .btn.bg-secondary:hover {
      background-color: #414446!important;
  }
  .btn.bg-success:hover {
      background-color: #457b21!important;
  }
  .btn.bg-info:hover {
      background-color: #019494!important;
  }
  .btn.bg-warning:hover {
      background-color: #d6c900!important;
  }
  .btn.bg-danger:hover {
      background-color: #a52611!important;
  }
  .btn.bg-light:hover {
      background-color: #FFE!important;
  }
  .btn.bg-dark:hover {
      background-color: #000F08!important;
  }
  .btn.bg-white:hover {
      background-color: #FFFFFF!important;
  }

  #SGIA{
    display: flex;
    align-items: flex-start;
  }

  /* Navbar */
  #sidemenu{
      width: 260px;
      overflow-y: auto;
      height: 100vh;
      align-content: baseline;
      /* background: #ffffff82; */
      background: #014e94;
      border-right: 1px solid #014e94;
      transition: 0.5s ease;
      z-index: 0;
  }
  #sidemenu a, #sidemenu button{
    text-decoration: none;
    /* color: #444; */
    color: #fff;
    padding: 0 1.23rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #sidemenu li.active a {
    color: #fdef00;
    font-weight: 400;
  }
  #sidemenu ul{
    list-style: none;
    padding: 0;
  }
  div#sidemenu.minimize {
    width: 0;
    transition: 0.5s ease;
  }
  div#sidemenu:after {
      background: url(../imgs/pattern.png);
      content: '';
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      height: 100%;
      background-position: center;
      background-size: 40px;
      opacity: 0.02;
      z-index: -1;
  }

  .logo-brand{
    margin: 0 auto;
  }
  .logo-brand .logo{
    width: 115px;
    display: block;
  }

  .menus{
    margin: 2.22rem 0;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .menus button {
    padding: 0;
  }
  .menus li{
    padding: 0 0 1rem 0;
  }
  .menus li.collapse-menu{
    position: relative;
  }
  .menus li.collapse-menu:before {
    content: '\eb9f';
    position: absolute;
    right: 20px;
    top: 0;
    font-family: unicons-line;
    color: #fff;
  }
  .menus button:focus,.menus button:hover, button.btn:hover, button.btn:focus {
    box-shadow: none;
  }

  .collapse-menu li {
    font-weight: 350;
    padding: 0.6rem 0.9rem 0.6rem  0.9rem ;
    font-size: 14px;
  }
  .collapse-menu li:hover{
      /* background: #FFE; */
      background: #003c73;
  }

  /* width */
  #sidemenu::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  #sidemenu::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  #sidemenu::-webkit-scrollbar-thumb {
    background: #053765;
  }

  /* Handle on hover */
  #sidemenu::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  /* scrollbar */

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #053765;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #024d90;
  }

  /* usermenu */
  .usermenu {
      height: 100px;
      overflow: hidden;
      background: #fff;
      border-bottom: 1px solid #fff;
      position: -webkit-fixed;
      position: fixed;
      top: 0;
      z-index: 9;
      width: calc(100% - 260px);
      transition: 0.5 linear right;
  }
  div#sidemenu.minimize + #mainmenu .usermenu{
      width: 100%;
      transition: 0.5 linear right;
  }

  /* footer */
  #footer{
    background: #ffffff;
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    width: calc(100% - 260px);
    margin: 45px 0 0 0;
    transition: 0.5 linear right;
  }

  div#sidemenu.minimize + #mainmenu #footer{
      width: 100%;
      transition: 0.5 linear right;
  }


  /* Main Menu */
  .contentArea {
    padding: 140px 0 140px 0;
  }
  #mainmenu{
    width: calc(100% - 260px);
    /* background: #e6eaea; */
    height: 100vh;
    overflow-y: auto;
  }
  .actwrap{
      max-width: 1557px;
  }
  #hamburger{
    font-size: 24px;
    font-weight: bold;
  }
  .title{
    margin: 15px 0;
  }


  /* card */
  .act-card{
    padding: 2rem 3rem;
    border-radius: 18px;
    border: 0;
    position: relative;
    overflow: hidden;
  }
  .act-card.pattern:before {
      position: absolute;
      content: '';
      background: url(../imgs/content/pattern.svg);
      width: 150px;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      right: -30px;
      bottom: 0;
      opacity: 0.25;
  }
  .act-card:hover, .card-table:hover{
    background: #ffffffc7;
    box-shadow: 0 0 11px 3px #004f942b;
  }
  .card-table.nbs:hover{
    box-shadow: none;
  }
  .act-card .values{
      font-weight: 600;
  }
  .act-card .desc{
      font-weight: 400;
  }
  .act-card .icons{
      font-size: 4rem;
      font-weight: 200;
  }

  /* chart */
  .act-chart{
      max-height: 360px!important;
  }

  /* table */
  .card-table {
    padding: 10px 0;
    border-radius: 18px;
  }
  .card-table .table>:not(caption)>*>*{
    border-bottom: 1px solid #eef7ff;
  }
  .card-table .table td p{
    margin-bottom: 0;
  }
  .card-table .table td,.card-table .table th{
    padding: 16px;
  }
  .card-table .table th{
    border: 0;
    border-bottom: 1px solid #eaeaea!important;
  }
  .card-table .table tbody tr:hover {
      background: #d4eafe;
  }
  table tr{
    vertical-align: -webkit-baseline-middle;
  }

  /* width */
  .card-table .table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  /* Track */
  .card-table .table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .card-table .table-responsive::-webkit-scrollbar-thumb {
    background: #014E94;
  }

  /* Handle on hover */
  .card-table .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /* paginate */
  .act-pagination{
    margin: 15px 0;
  }
  .act-pagination a.page-link{
      color: #444!important;
  }
  .act-pagination .page-item.active {
    background: #014e94!important;
  }
  .act-pagination .page-item.active a{
    color: #fff!important;
  }
  .act-pagination a.page-link {
    min-height: 38px;
  }
  .act-pagination a.page-link span{
    margin: 4px 0;
    display: block;
  }
  .input-group-text.nbg{
    background: transparent;
    border: 0;
  }

  /* modal */
  .modal-content{
    border-radius: 18px;
  }


  /* Href */
  a.nbb{
    text-decoration: none;
    color: #444;
  }


/* loading Page */
  #loading {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("../imgs/logo.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    animation: boomerang 0.6s ease;
  }

@keyframes boomerang {
  0%,100%{
    background-size: 100px;
  }
  50%{
    background-size: 110px;
  }
}


/* images */
.profile-picture{
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.profile-picture:before {
    content: '';
    background: url(../imgs/board.jpg);
    background-size: cover;
    height: 50%;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(1px);
}
.profile-picture img{
  border-radius: 18px;
  height: 260px;
  max-width: 260px;
  object-fit: cover;
  display: block;
  margin: 15px auto;
  border:2px solid #fff;
}

/* button */
button.btn {
    width: 120px;
}






/* 1 Navbar */
#sidemenu.bigicon{
    width: 160px;
}
a.link, .btn.link {
    text-align: center;
    display: block;
    padding: 0!important;
    margin: 0 auto;
}
#sidemenu.bigicon li.collapse-menu:before{
    content: none;
}
#sidemenu.bigicon li {
    font-weight: 350;
    padding: 5px 0;
    font-size: 14px;
}
#sidemenu.bigicon ul.collapse{
  position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #002f5a;
    z-index: 8;
    padding: 10px 0;
}
.bigicon .collapsing{
    background: #002f5a;
    padding: 10px 0!important;
}
.icon{
  width: 50px;
  display: block;
  margin: 0 auto;
}

.menu-float ul {
    position: absolute;
    left: 150px;
    background: #00325f;
    z-index: -1;
    top: 0;
    list-style: none;
    padding: 20px 0;
    transition: 0.2s height linear;
    top: 50%;
    transform: translateY(-50%);
    width: 160px;
    display: block;
}
.menu-float ul.show {
  left: 160px;
  transition: 0.2s linear;
  z-index: 2;
  position: absolute;
}
.menu-float ul li a{
    color: #fff;
    text-decoration: none;
}
.menu-float ul li.active a{
    color: #FFF000;
}
.menu-float.minimize{
  width: 0;
  transition: 0.5s ease;
}
.menu-float.minimize .show{
  display: none;
}

#SGIA #mainmenu.bigicon{
      width: calc(100% - 160px);
}
.bigicon .usermenu{
    width: calc(100% - 160px);
}
.bigicon .actwrap{
    max-width: 1660px;
}
.bigicon #footer{
  width: calc(100% - 160px);
}
